body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #2F4858;
    color: #fff;
    font-family: 'Georgia';
}

.titleSvg {
    height: 30px;
    width: 30px;
    color: #fff;
}

.cover {
    padding: 0;
    margin: 0;
    width: 80vw;
}


table {
    width: 90vw;
    margin: 0 auto;
    text-align: left;
    background-color: #006877;
    border: 0px solid #006877;
    border-collapse: collapse;
    padding: 0;
}

td {
    border-bottom: 5px solid #2F4858;
}

.row {
    background-color: #006877;
    text-align: left;
    margin: 3px 0;
}

tr:hover {
    margin-right: 10px;
    background-color: #00897C;
}

.rank {
    width: 20px;
    background-color: #31A665;
    text-align: center;
}


.loading{
    display: block;

}

.poster {
    padding: 0;
}

.poster img {
    height: 50px;
    margin: auto;
}

.rate {
    height: 20px;
    width: 20px;
    color: #F5C618;
}






@keyframes ldio-ugab3fvkrt {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-ugab3fvkrt div {
  left: 123.975px;
  top: 62.64px;
  position: absolute;
  animation: ldio-ugab3fvkrt linear 0.9345794392523364s infinite;
  background: #f5c618;
  width: 13.049999999999999px;
  height: 31.32px;
  border-radius: 6.5249999999999995px / 15.66px;
  transform-origin: 6.5249999999999995px 67.86px;
}.ldio-ugab3fvkrt div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8566978193146417s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.778816199376947s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7009345794392523s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6230529595015576s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.545171339563863s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.4672897196261682s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.3894080996884735s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3115264797507788s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2336448598130841s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1557632398753894s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.0778816199376947s;
  background: #f5c618;
}.ldio-ugab3fvkrt div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #f5c618;
}
.loadingio-spinner-spinner-gqotikc5he9 {
  width: 261px;
  height: 261px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ugab3fvkrt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ugab3fvkrt div { box-sizing: content-box; }
/* generated by https://loading.io/ */